<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/form">Add User</a>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>EMAIL</th>
            <th>PASSWORD</th>
            <th>IMAGE</th>
            <th>EDIT</th>
            <th>DELETE</th>
        </tr>

        <% results.forEach(function(result){ %>
            <tr>
                <td><%= result.id %></td>
                <td><%= result.name %></td>
                <td><%= result.email %></td>
                <td><%= result.password %></td>
                <td><img src="data:image/<%=result.image.contentType%>;base64,
                    <%=result.image.data.toString('base64')%>" height="100px" width="100px"></td>\
                <td><a href="/edit/<%= result.id%>">EDIT</a></td>
                <td><a href="/delete/<%= result.id%>">DELETE</a></td>
            </tr>
        <% }) %>
        
    </table>
</body>
</html>